{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
<form action="/contacts" method="get" class="mb-4">
  <label for="search" class="block text-gray-700 text-sm font-bold mb-2">Search Term</label>
  <input type="search" name="q" value="{{ q }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-3">
</form>
<table class="min-w-full mb-10 table-auto">
  <thead>
    <tr class="bg-gray-200">
      <th class="px-4 py-2">First</th>
      <th class="px-4 py-2">Last</th>
      <th class="px-4 py-2">Phone</th>
      <th class="px-4 py-2">Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
      <tr class="bg-white border-b">
        <td class="px-4 py-2">{{ contact.first }}</td>
        <td class="px-4 py-2">{{ contact.last }}</td>
        <td class="px-4 py-2">{{ contact.phone }}</td>
        <td class="px-4 py-2">{{ contact.email }}</td>
        <td class="px-4 py-2">
          <a class="p-2 bg-blue-500 hover:bg-blue-700 rounded text-white" href="/contacts/{{contact.id}}/edit">Edit</a>
          <a class="p-2 bg-green-500 hover:bg-green-700 rounded text-white" href="/contacts/{{contact.id}}">View</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
<a class="mx-auto bg-purple-500 font-bold text-white hover:bg-purple-700 rounded px-8 py-6" href="/contacts/new">Add Contact</a>
</p>
{% endblock content %}
